/* ==== Inicio ===== */

#inicio {
    text-align: center;
}

h1 {
    color: rgb(69, 69, 163);
}


/* ========== Jogo ========== */

#jogo {
    height: 500px;
    width: 751px;
    box-shadow: 2px 2px 16px black;
    border: 1px solid #A2A2A2;
}


/* ==== UI ====*/

#ui {
    float: left;
    width: 150px;
    height: 500px;
    background: #FFF;
    margin: auto;
    border-right: 1px solid #A2A2A2;
}


/* ==== UI Baloes ====*/

#uiBaloes {
    font-size: 40px;
}

#uiBaloesEstourados {
    font-size: 40px;
}

#cronometro {
    width: 140px;
    height: 132px;
    margin: auto;
}

#cenario {
    float: left;
    width: 600px;
    height: 500px;
    margin: auto;
    background-position: bottom;
}

#balaoGrande {
    margin: auto;
}

#balaoGrandeEstourado {
    margin: auto;
}

#tempo {
    color: red;
    font-size: 30px;
}